html, body
	{
        width: 100%;
		height: 100%;
	}
	
body
	{
        width: 1080px;
		margin: auto ;
		padding: 0px;
		background-image:url(../../../img/font/lama.jpg);
        background-attachment: fixed;
	}
	
#header
    {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 70px;
        background: black;
        text-decoration: none;
        text-transform: none;
        color: white;
    }
#header #titre
    {
        float: left;
    }
#header #menu ul li
    {
        
        text-transform: none;
        margin: 70px;
        float: left;
    }
.article
    {
        margin-top: 80px;
        background-color: white;
        width: 1080px;
        border: solid 1px black;
    }
.article .content
    {
        width: 540px;
        margin-bottom: 100px;
        border: solid 2px red;
    }