html, body
	{
        width: 100%;
		height: 100%;
	}
	
body
	{
		margin: 0px;
		padding: 0px;
		background-image:url(../../../img/font/lama.jpg);
        background-attachment: fixed;
		font-family: 'Source Sans Pro', sans-serif;
	}
	
#header
    {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 70px;
        background: black;
        text-decoration: none;
        text-transform: none;
        color: white;
    }
#header #titre
    {
        float: left;
    }
#header #menu ul li
    {
        
        text-transform: none;
        margin: 70px;
        float: left;
    }